# Chuỗi kết nối Neon Serverless PostgreSQL Database
DATABASE_URL="postgresql://neondb_owner:password@ep-cool-butterfly-a5z1v3b.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# API Key cho Trợ lý AI (Google Gemini)
GEMINI_API_KEY="your-google-gemini-api-key-here"

# SSO Sconnect Client configurations (OAuth2/OIDC)
SSO_CLIENT_ID="sconnect-sso-client-id"
SSO_CLIENT_SECRET="sconnect-sso-client-secret"
SSO_ISSUER="https://sso.s-connect.net"
NEXTAUTH_SECRET="random-32-character-secret-key"
NEXTAUTH_URL="http://localhost:3000"
